.welcome-variants {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.welcome--sidebar > .welcome-variants {
  padding: 8px 25px;
}

.welcome-variants a {
  text-decoration: none;
}

.welcome-variants .nav--info {
  margin-left: 4px;
}

.welcome-variants--title {
  font-size: 100%;
  font-weight: 600;
}

.dark .welcome-variants--title {
  color: var(--dark-primary-text);
}

.welcome-variants--option {
  color: #666;
}

.welcome-variants--option.selected {
  color: #1976d2;
}

.dark .welcome-variants--option {
  color: rgb(255 255 255 / 50%);
}

.dark .welcome-variants--option.selected {
  color: #6aa9f4;
}
