/* player Styles */
.player--main--wrapper {
  margin-right: 2px;
  position: relative;
}

.player--main {
  display: flex;
}

.player--main--list-view {
  display: flex;
}

.player--main--clue-bar {
  background-color: var(--main-blue-3);
  padding: 6px 16px;
  display: flex;
  font-size: 14px;

  /* width: 486px; */
  height: 32px;
  align-items: stretch;
}

@media print {
  .player--main--clue-bar {
    display: none;
  }
}

.player--main--clue-bar--number {
  font-weight: bold;
  display: inline-block;
  align-self: center;
}

.player--main--clue-bar--text--wrapper {
  flex: 1;
  position: relative;
  margin-left: 20px;
  max-height: 100%;
}

.player--main--clue-bar--text {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.player--main--left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player--main--left--grid {
  position: relative;
  color: #444;
}

.player--main--left--grid.frozen {
  margin-top: 10px;
  position: relative;
  color: black;
}

.player--main--clues {
  display: flex;
}

@media print {
  .player--main--clues {
    font-size: 0.6em;
  }
}

.player--main--vim-bar {
  background-color: var(--main-blue-3);
  padding: 10px;
  display: flex;
  font-size: 15px;

  /* width: 486px; */
  height: 20px;
  align-items: center;
}

.player--main--vim-bar--input {
  background-color: transparent;
  border: none;
  flex: 1;
}

.player--main--vim-bar--input:focus {
  outline: none;
}

.player--main--vim-bar--help {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  opacity: 0.6;
  color: inherit;
}

.player--main--vim-bar--help:hover {
  opacity: 1;
}

.player--mobile--wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.player--mobile {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.player--mobile--grid {
  display: flex;
}

.player--mobile--list-view {
  display: flex;
}

.player--mobile--clue-bar {
  background-color: var(--main-blue-3);
  padding: 10px 20px;
  display: flex;
  font-size: 15px;
  flex: 1;
  min-height: 20px;
  align-items: center;
}

.player--mobile--clue-bar--number {
  font-weight: bold;
  display: inline-block;
}

.player--mobile--clue-bar--text {
  margin-left: 20px;
  display: inline-block;
  overflow-y: auto;
  max-height: 100%;
}

@media print {
  .player--connection-stats {
    display: none;
  }
}
